.cart_wrapper {
  padding: 2rem;
}

.cart_product_wrapper {
  gap: 2rem;
  padding: 2rem;
  width: 60%;
}

.cart_login_btn {
  font-size: var(--font-s-xl);
  font-weight: var(--font-w-medium);
  color: var(--text-color);
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}

.cart_login_btn:hover {
  color: var(--active-color);
}
